
<html>

  <head>
    <title>Cheaper Than a Burger</title>
    <link rel="stylesheet" href="main.css">
  </head>

  <body>

    <header>
      <img src="images/logo.png" alt="Cheaper than a Burger" class="logo">
    </header>

    <div class="grid-wrapper">
    <div class="recipe-grid">
      <div class="recipe" id="bean-burritos"><a href="recipes/bean-burritos"><h3><%= data[0].name %><h3><h3>$<%= data[0].price %><h3></a></div>
      <div class="recipe" id="chicken-noodle-casserole"><a href="recipes/chicken-noodle-casserole"><h3>Chicken Noodle<br/>Casserole<h3><h3>$0.98<h3></a></div>
      <div class="recipe" id="fajita-quesadillas"><a href="recipes/fajita-quesadillas"><h3><%= data[2].name %><h3><h3>$<%= data[2].price %><h3></a></div>
      <div class="recipe" id="fajita-ranch-chicken-wraps"><a href="recipes/fajita-ranch-chicken-wraps"><h3>Fajita Ranch</br>Chicken Wraps<h3><h3>$2.05<h3></a></div>
      <div class="recipe" id="fish-and-peppers"><a href="recipes/fish-and-peppers"><h3><%= data[1].name %><h3><h3>$<%= data[1].price %><h3></a></div>
      <div class="recipe" id="fish-tacos"><a href="recipes/fish-tacos"><h3><%= data[3].name %><h3><h3>$<%= data[3].price %><h3></a></div>
      <div class="recipe" id="grilled-pork-and-pineapple"><a href="recipes/grilled-pork-and-pineapple"><h3>Grilled Pork</br>and Pineapple<h3><h3>$2.67<h3></a></div>
      <div class="recipe" id="herbed-salmon"><a href="recipes/herbed-salmon"><h3>Herbed Salmon<h3><h3>$2.49<h3></a></div>
      <div class="recipe" id="jamaican-stir-fry"><a href="recipes/jamaican-stir-fry"><h3>Jamaican Stir Fry<h3><h3>$2.00<h3></a></div>
      <div class="recipe" id="sausage-eggwiches"><a href="recipes/sausage-eggwiches"><h3><%= data[4].name %><h3><h3>$<%= data[4].price %><h3></a></div>
      <div class="recipe" id="shrimp-bisque"><a href="recipes/shrimp-bisque"><h3>Shrimp Bisque<h3><h3>$2.03<h3></a></div>
      <div class="recipe" id="veggie-lasagna"><a href="recipes/veggie-lasagna"><h3><%= data[5].name %><h3><h3>$<%= data[5].price %><h3></a></div>
    </div>
    </div>

  </body>

</html>