<html>

  <head>
    <title>Cheaper Than a Burger</title>
    <link rel="stylesheet" href="main.css">
  </head>

  <%= bank %>

  <body>

    <header>
      <img src="images/logo.png" alt="Cheaper than a Burger" class="logo">
    </header>

    <div class="grid-wrapper">
    <div class="recipe-grid">
<<<<<<< HEAD
      <a href="recipes/bean-burritos.html" class="recipe" id="bean-burritos"><div><h3>Bean Burritos<h3><h3>$0.71<h3></div></a>
      <a href="recipes/chicken-noodle-casserole.html" class="recipe" id="chicken-noodle-casserole"><div><h3>Chicken Noodle<br/>Casserole<h3><h3>$0.98<h3></div></a>
      <a href="recipes/fajita-quesadillas.html" class="recipe" id="fajita-quesadillas"><div><h3>Fajita Quesadillas<h3><h3>$0.43<h3></div></a>
      <a href="recipes/fajita-ranch-chicken-wraps.html" class="recipe" id="fajita-ranch-chicken-wraps"><div><h3>Fajita Ranch</br>Chicken Wraps<h3><h3>$2.05<h3></div></a>
      <a href="recipes/fish-and-peppers.html" class="recipe" id="fish-and-peppers"><div><h3>Fish and Peppers<h3><h3>$2.18<h3></div></a>
      <a href="recipes/fish-tacos.html" class="recipe" id="fish-tacos"><div><h3>Fish Tacos<h3><h3>$3.56<h3></div></a>
      <a href="recipes/grilled-pork-and-pineapple.html" class="recipe" id="grilled-pork-and-pineapple"><div><h3>Grilled Pork</br>and Pineapple<h3><h3>$2.67<h3></div></a>
      <a href="recipes/herbed-salmon.html" class="recipe" id="herbed-salmon"><div><h3>Herbed Salmon<h3><h3>$2.49<h3></div></a>
      <a href="recipes/jamaican-stir-fry.html" class="recipe" id="jamaican-stir-fry"><div><h3>Jamaican Stir Fry<h3><h3>$2.00<h3></div></a>
      <a href="recipes/pork-kabobs.html" class="recipe" id="pork-kabobs"><div><h3>Pork Kebabs<h3><h3>$1.96<h3></div></a>
      <a href="recipes/sausage-eggwiches.html" class="recipe" id="sausage-eggwiches"><div><h3>Sausage Eggwiches<h3><h3>$0.80<h3></div></a>
      <a href="recipes/shrimp-bisque.html" class="recipe" id="shrimp-bisque"><div><h3>Shrimp Bisque<h3><h3>$2.03<h3></div></a>
      <a href="recipes/veggie-lasagna.html"  class="recipe" id="veggie-lasagna"><div><h3>Veggie Lasagna<h3><h3>$1.73<h3></div></a>
=======
      <div class="recipe" id="bean-burritos"><a href="recipes/bean-burritos.html"><h3><%= data[0].name %><h3><h3>$<%= data[0].price %><h3></a></div>
      <div class="recipe" id="chicken-noodle-casserole"><a href="recipes/chicken-noodle-casserole.html"><h3>Chicken Noodle<br/>Casserole<h3><h3>$0.98<h3></a></div>
      <div class="recipe" id="fajita-quesadillas"><a href="recipes/fajita-quesadillas.html"><h3><%= data[2].name %><h3><h3>$<%= data[2].price %><h3></a></div>
      <div class="recipe" id="fajita-ranch-chicken-wraps"><a href="recipes/fajita-ranch-chicken-wraps.html"><h3>Fajita Ranch</br>Chicken Wraps<h3><h3>$2.05<h3></a></div>
      <div class="recipe" id="fish-and-peppers"><a href="recipes/fish-and-peppers.html"><h3><%= data[1].name %><h3><h3>$<%= data[1].price %><h3></a></div>
      <div class="recipe" id="fish-tacos"><a href="recipes/fish-tacos.html"><h3><%= data[3].name %><h3><h3>$<%= data[3].price %><h3></a></div>
      <div class="recipe" id="grilled-pork-and-pineapple"><a href="recipes/grilled-pork-and-pineapple.html"><h3>Grilled Pork</br>and Pineapple<h3><h3>$2.67<h3></a></div>
      <div class="recipe" id="herbed-salmon"><a href="recipes/herbed-salmon.html"><h3>Herbed Salmon<h3><h3>$2.49<h3></a></div>
      <div class="recipe" id="jamaican-stir-fry"><a href="recipes/jamaican-stir-fry.html"><h3>Jamaican Stir Fry<h3><h3>$2.00<h3></a></div>
      <div class="recipe" id="pork-kabobs"><a href="recipes/pork-kabobs.html"><h3>Pork Kebabs<h3><h3>$1.96<h3></a></div>
      <div class="recipe" id="sausage-eggwiches"><a href="recipes/sausage-eggwiches.html"><h3><%= data[4].name %><h3><h3>$<%= data[4].price %><h3></a></div>
      <div class="recipe" id="shrimp-bisque"><a href="recipes/shrimp-bisque.html"><h3>Shrimp Bisque<h3><h3>$2.03<h3></a></div>
      <div class="recipe" id="veggie-lasagna"><a href="recipes/veggie-lasagna.html"><h3><%= data[5].name %><h3><h3>$<%= data[5].price %><h3></a></div>
>>>>>>> de44a0bf9cfdac472c9e2bad4004eaaea855aae3
    </div>
    </div>

  </body>

</html>
